.head_h6 {
  color: blue; }

.head_div {
  font-weight: 600;
  color: orange; }

.head_p {
  font-weight: bold;
  color: red; }

.head_h6 {
  color: red; }

.head_div {
  font-weight: bold;
  color: blue; }

.head_p {
  font-weight: bold;
  color: orchid; }
